html, body {
    margin:0;
    padding:0;
}

.centerdiv {
    top: 0;
    left: 160px;
    right: 0;
    height: auto;
    position: absolute;
}

.header {
    padding: 10px; 
    text-align: center;
    background: #b0537e;
    color: white;
    font-size: 30px;
    top:0;
    left:0;
    width:auto;
}

.menu {
    /* position:relative; */
    /* top:0;
    left:0; */
    width:auto;
    text-align: center;
    /* padding-left: 100px; */
}

.sidenav {
    height: 100vh;
    width: 160px;
    z-index: 1; /* stay at the top */
    top: 0; /* stay at the top */
    left: 0;
    background-color: #e184e3;
    overflow-x: hidden; /* disable horizontal scroll */
    padding-top: 20px;
    position: fixed;
}

.sidenav a {
    padding: 6px 8px 7px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidenav a:hover{
    background-color: grey;
}

.sidenav #selected {
    background-color: #8b558b
}

.sidenav #selected:hover{
    background-color: grey;
}

.about {
    background-color: #d9d9d9;
    left: 100px;
    right: 100px;
    height: auto;
    position: absolute;
}

@media screen and (max-height: 450px){
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}