html, body {
    margin:0;
    padding:0;
}

.centerdiv {
    top: 0;
    left: 160px;
    right: 0;
    height: auto;
    position: absolute;
}

.header {
    padding: 10px; 
    text-align: center;
    background: #b0537e;
    color: white;
    font-size: 30px;
    top:0;
    left:0;
    width:auto;
}

.menu {
    /* position:relative; */
    /* top:0;
    left:0; */
    width:auto;
    text-align: center;
    /* padding-left: 100px; */
}

.sidenav {
    height: 100vh;
    width: 160px;
    z-index: 1; /* stay at the top */
    top: 0; /* stay at the top */
    left: 0;
    background-color: #e184e3;
    overflow-x: hidden; /* disable horizontal scroll */
    padding-top: 20px;
    position: fixed;
}

.sidenav a {
    padding: 6px 8px 7px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidenav a:hover{
    background-color: grey;
}

.sidenav #selected {
    background-color: #8b558b
}

.sidenav #selected:hover{
    background-color: grey;
}

.about {
    background-color: #d9d9d9;
    left: 100px;
    right: 100px;
    height: auto;
    position: absolute;
}

.help-tip {
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
    z-index: 9;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    z-index: 9;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

@media screen and (max-height: 450px){
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}